@use "styles/utils" as *;

.message {
  padding: 1em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.time {
  color: $gray-300;
}

.replyText,
.mentionText,
.messageText,
.onlyMessageText {
  line-height: 1.2;
  text-align: left;
  margin-top: 1.5em;
  font-size: $fs-400;
  word-wrap: break-word;
}

.onlyMessageText {
  margin-top: 1em;
}

.senderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user {
    color: $gray-400;
    font-size: $fs-400;
    font-weight: $fw-medium;
  }
}

.buttonsWrapper {
  gap: 5px;
  display: grid;
  margin-top: 1.5em;
  grid-template-rows: 2.5em;
  grid-template-columns: repeat(4, 1fr);

  .button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    color: $gray-300;
    transition: all 200ms ease-in-out;
    background-color: hsla(0, 0%, 90%, 0.4);

    span {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & > * {
        width: 50%;
        height: 50%;
      }
    }

    &.reply {
      color: #54bab9;
    }
    &.reply:active,
    &.reply:hover {
      color: white;
      background-color: #54bab9;
    }

    &.reply.replied {
      color: white;
      background-color: #54bab9;
    }
    &.reply.replied:active,
    &.reply.replied:hover {
      color: #54bab9;
      background-color: hsla(0, 0%, 90%, 0.4);
    }

    &.delete {
      color: $error-400;
    }
    &.delete:active,
    &.delete:hover {
      color: white;
      background-color: $error-400;
    }

    &.share {
      color: $primary-400;
    }
    &.share:active,
    &.share:hover {
      color: white;
      background-color: $primary-400;
    }

    &.public {
      color: $success-400;

      &:active,
      &:hover {
        color: white;
        background-color: $success-500;
      }
    }

    &.private {
      color: $warning-400;

      &:active,
      &:hover {
        color: white;
        background-color: $warning-500;
      }
    }
  }
}

.replyWrapper {
  display: grid;
  overflow: hidden;
  margin-top: 1.5em;
  grid-template-rows: 3em;
  grid-template-columns: 1fr 3em;

  &.error input {
    background-color: $error-100;
  }

  .errors {
    color: $error-600;
    margin-top: 0.5em;
    font-weight: $fw-medium;
  }

  input {
    width: 100%;
    color: black;
    background: none;
    font-size: $fs-400;
    padding: 0.5em 0.75em;
    background-color: $gray-100;
  }

  button {
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    background: none;
    background-color: #54bab9;
    transition: all 200ms ease-in-out;

    span {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & > * {
        width: 50%;
        height: 50%;
      }
    }

    &:active,
    &:hover {
      background-color: $gray-300;
    }
  }
}

.mentionText {
  margin: 0;
  padding: 0.75em;
  font-size: $fs-400;
  color: $success-500;
  background-color: $success-100;
  border-left: 4px solid $success-400;
}

.recipientWrapper {
  display: flex;
  margin-top: 1em;
  align-items: center;
  justify-content: space-between;

  .user {
    font-weight: $fw-medium;
  }
}

.replyText {
  margin-top: 0.5em;
}
