@use "styles/utils.scss" as *;

.container {
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  position: relative;
  background-image: $bg-gradient;

  .overlay {
    gap: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &::before,
  &::after {
    inset: 0;
    content: "";
    position: absolute;
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
  }

  &::before {
    background-image: url("/BG/clouds_1.png");
  }

  &::after {
    background-image: url("/BG/rocks_2.png");
  }

  & * {
    z-index: 10;
  }
}

.top {
  gap: 2em;
  flex-grow: 1;
  display: flex;
  padding: 0 2em;
  margin-top: 2em;
  max-width: 480px;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
  }

  p {
    max-width: 100%;
    text-align: center;
    line-height: 1.3rem;

    span {
      color: black;
      font-weight: 700;
      font-size: 1.2rem;
      text-transform: capitalize;
    }
  }
}

.buttons {
  gap: 1em;
  display: flex;

  & > *:first-child {
    color: black;
    background-color: darken($color: $lime, $amount: 5);

    &:active,
    &:focus,
    &:hover {
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      background-color: darken($color: $lime, $amount: 15);
    }
  }
}

.button {
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.5em 1em;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  background-color: darken($color: $red, $amount: 5);

  &:active,
  &:focus,
  &:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    background-color: darken($color: $red, $amount: 10);
  }
}

.bottom {
  padding: 0 2em;
  margin-bottom: -3px;
}

@media screen and (max-width: 480px) {
  .top {
    margin-top: 0;
  }

  .button {
    padding: 0.75em 1.5em;
  }
}
