@use "/styles/utils" as *;

.homeContainer {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 769px !important;
}

.header {
  gap: 1em;
  display: flex;
  padding-top: 2em;
  align-items: center;
  padding-bottom: 2em;
  justify-content: space-between;

  .left {
    gap: 1em;
    display: flex;
    justify-content: flex-end;

    .userInfo {
      gap: 2px;
      display: flex;
      font-size: $fs-300;
      flex-direction: column;
      justify-content: center;

      .username {
        font-size: $fs-600;
        color: $primary-500;
        font-weight: $fw-semi-bold;
      }
    }
  }
}

.gamesContainer {
  gap: 1.5em;
  display: grid;
  padding-bottom: 1.5em;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 720px) {
  .gamesContainer {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 251px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .username {
    font-size: $fs-600 !important;
  }
}
