@use "/styles/utils" as *;

.appContainer {
  height: 100%;
  display: grid;
  margin: 0 auto;
  max-width: 769px !important;
  grid-template-rows: 5rem min(20vh, 10rem) 1fr;
}

.loading {
  display: flex;
  font-size: $fs-700;
  padding-bottom: 2em;
  align-items: center;
  justify-content: center;
}

.leaderboardWrapper {
  gap: 2.5em;
  display: flex;
  padding: 3px 0;
  margin-top: 1.5em;
  overflow-y: scroll;
  margin-bottom: 1.5em;
  flex-direction: column;

  h2 {
    color: $gray-300;
    font-size: $fs-300;
    text-align: center;
    letter-spacing: 3px;
    margin: 0 3px 0.75em;
    padding: 1.1em 0 1em;
    font-weight: $fw-medium;
    text-transform: uppercase;
    background-color: $gray-100;
  }
}

.leaderboardContainer {
  gap: 1em;
  display: flex;
  padding: 3px 0;
  margin-top: 1.5em;
  overflow-y: scroll;
  margin-bottom: 1.5em;
  flex-direction: column;

  &.noScroll {
    margin: 0;
    padding: 0;
    overflow-y: visible;
  }
}

.illustration {
  display: flex;
  justify-content: center;

  & > * {
    height: 100% !important;
  }
}
